torch
easyocr
torchvision
supervision==0.18.0
openai>=1.12.0
transformers
ultralytics==8.3.70
numpy
opencv-python
opencv-python-headless
dill
accelerate
timm
einops==0.8.0
paddlepaddle
paddleocr
ruff==0.6.7
anthropic[bedrock,vertex]>=0.37.1
jsonschema==4.22.0
boto3>=1.28.57
screeninfo
uiautomation
dashscope
flask==3.0.2
gunicorn
pyautogui>=0.9.54
Pillow>=10.0.0
langchain>=0.1.0
langchain-openai>=0.0.5
langchain-core>=0.1.20
pyperclip
python-dotenv
